<nav class="navbar navbar-expand-lg fixed-top bgi navbar">
    <div class="container-fluid ">
        <a class="navbar-brand ms-3 " href="@Url.Action("Index","Home")">
            <img src="~/NewFolder/PIZZERIA-LOCALE-LOGO-STACKED.png" alt="Logo"  height="50" class="d-inline-block align-text-top shad" />
        </a>
        <h4 class="text-black my-2 ">La mia pizzeria</h4>
        <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-light"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav nav-underline mx-3">
                <a class="nav-link  text-black"  href="@Url.Action("Index", "Pizza")">Menu'</a>
                <a class="nav-link text-black" href=" @Url.Action("ChiSiamo", "Home")">Chi Siamo</a>
                <a class="nav-link text-black" href=" @Url.Action("Index", "Review")">Recensioni</a>

                  <partial name="_LoginPartial" />
               
            </div>
        </div>
      
    </div>
</nav>

 

@*<nav class="nav  text-white bgi">
       
      
</nav>*@