

<div>


    <div style="height:1000px" class="container-md text-center text-white mb-5">
        <div class="row mt-5">
            <div class="mt-5">
                <hr class="border border-danger border-2 opacity-50">
            </div>
            <div class="row justify-content-center">
                <div class="col-6  bg-danger bg-opacity-25 my-5 ">
                    <div class="my-5 pt-5 ">

                      <p class="text-end">La nostra passione per la pizza è il motore che alimenta tutto ciò che facciamo. Utilizziamo solo gli ingredienti più freschi e di alta qualità, selezionati con cura per garantire il gusto autentico e la migliore esperienza possibile. La nostra impasto viene preparato seguendo antiche ricette tradizionali, con una lievitazione lenta che conferisce alla nostra pizza un sapore unico e una consistenza leggera e soffice. </p>
                    </div>
                </div>
                <div class="col-6  ">
                    <div class="my-5 ">
                        <img class="me-5" width="570" src="~/NewFolder/gavezzoli-dicembre-3.jpg" />

                    </div>
                </div>
            </div>
        <hr class="border border-danger border-2 opacity-50">
        </div>

    </div>
    
</div>