  <!--landing page-->


<div style="height:1000px" class="container-md text-center text-white mb-5">
    <div class="mt-5">
        <hr class="border border-danger border-2 opacity-50">
    </div>
       <div class="row justify-content-center">
                <div class="col-6  bg-danger bg-opacity-25 my-5 ">
                    <div class="my-5 pt-5 ">
                        <h2 class="text-white text-end  m fs-1">
                        
                          Pizzeria da Peppo
                        </h2>
                               <p class="text-end my-5">Una Pizzeria da scoprire..</p>
                               <p class="text-end">...vieni a trovarci</p>
                               <p class="text-end">Dai un occhiata al nostro 
                           <a href="@Url.Action("index", "Pizza")" class="text-danger">Menu'</a>
                       </p>
                    </div>
                </div>
                <div class="col-6  ">
                    <div class="my-5 ">
                     <img class="me-5" width="570" src="~/NewFolder/pizzaAnanas.png"/> 
                       
                    </div>
                    
                 
                </div>
              <hr class="border border-danger border-2 opacity-50">
        </div>
 </div>
    
     



          
