  <!--landing page-->


<div  class="container-md text-center text-white mb-5">
    <div class="mt-5">
        <hr class="border border-danger border-2 opacity-50">
    </div>
       <div class="row justify-content-center">
                <div class="col-6  bg-danger bg-opacity-25 my-5 ">
                    <div class="my-5 pt-5 ">
                        <h2 class="text-white text-end  m fs-1">
                        
                          Pizzeria da Peppo
                        </h2>
                               <p class="text-end my-5">Una Pizzeria da scoprire..</p>
                               <p class="text-end">...vieni a trovarci</p>
                               <p class="text-end">Dai un occhiata al nostro 
                           <a href="@Url.Action("index", "Pizza")" class="text-danger">Menu'</a>
                       </p>
                    </div>
                </div>
                <div class="col-6  ">
                    <div class="my-5 ">
                     <img class="me-5" width="570" src="~/NewFolder/pizzaAnanas.png"/> 
                       
                    </div>
                    
                 
                </div>
              <hr class="border border-danger border-2 opacity-50">
        </div>
 </div>
  <div class="container-md">
      <div class="row">

                    <div id="spinner" class="spinner-grow text-warning" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                <div class="col-12 col-md-12 col-lg-4 mb-<4">
                <div id="container_no_article" class="d-none"> <h3>Non ci sono pizze da visualizzare</h3></div>
                <div id="container_cards" class="d-none d-flex justify-content-between gap-3 flex-wrap">
                  
                    @*sezione popolata da js*@

                </div>
            </div>
        </div>
</div>
    
@section ScriptSection{
                //chiamata get attraverso axios che restituisce una lista di pizze
     axios.get("https://localhost:7199/api/PizzaAPI/GetPizzas").then((result) => {
      //che salvo in una variabile
         const listPizza = result.data;

         //debugger;

         if(listPizza.length == 0){
             document.getElementById("container_no_article").classList.remove("d-none");
                document.getElementById("spinner").classList.add("d-none");

         } else {
                 document.getElementById("container_cards").classList.remove("d-none");
                    document.getElementById("spinner").classList.add("d-none");


             listPizza.forEach(Pizza => {
                 document.getElementById("container_cards").innerHTML += `
            <div class="card text-center mb-2" style="width: 18rem;">
                <img class="card-img-top" src="${Pizza.image}" alt="${Pizza.image}">
                <div class="card-body">
                    <h5 class="card-title">${Pizza.name}</h5>
                    <p class="card-text">${Pizza.description}</p>
                    <p class="card-text">${Pizza.price} $</p>

                    <a class="btn btn-outline-warning btn-sm" href="/Home/Detail/${Pizza.id}">
                      Details
                    </a>
                </div>
            </div>

             `
});
}
}).catch( (error) => {
console.error("Errore!");
console.log(error);
});
}




