@model Review


<div style="height:1000px" class="container-fluid">
   <div class="row">
        <div class="col-sm-10 col-md-6 col-lg-4 m-auto">
           <hr class="border border-danger border-2 opacity-50">
          <h2 class="text-white mb-3 text-center">Dicci cosa pensi di noi</h2>
             <form asp-controller="Review" asp-action="Create" method="post">
                    @Html.AntiForgeryToken()

                    <div class="bord rounded-2 p-3  text-white">
                        <div class="border-bottom pb-3 mb-2">
                            <label asp-for="Name" class="form-label ">Nome</label>
                            <input asp-for="Name" type="text" class="form-control bg-transparent" required>
                        </div>
                        <div class=" p-3  text-white">
                            <div class="border-bottom pb-3 mb-2">
                                <label asp-for="Description" class="form-label ">Descrizione</label>
                                <textarea asp-for="Description" rows="10" class="form-control bg-transparent"></textarea>

                            </div>
  
                        </div>
           
                    </div>

                    <button type="submit" class="btn btn-outline-success mb-5 mt-2">Salva</button>

              </form>
             <hr class="border border-danger border-2 opacity-50">
        </div>
    </div>
</div>
